<div class="bg-off-white pv4">
  <div class="ph3 mw7 center">
    <h2 class="f2 b lh-title mb2">Leistungen</h2>

    <div class="flex-ns mhn3-ns mb3">
      <div class="ph2-ns w-50-ns bg-grey-2">
        <p class="primary tc pa2">Consulting</p>
        <img src="./img/consulting.png" alt="" class="center db mb3" style="width: 90%">
      </div>
      <div class="ph2-ns w-50-ns bg-grey-2">
        <p class="primary tc pa2">Design</p>
        <img src="./img/design.png" alt="" class="center db mb3" style="width: 90%">
      </div>
      <div class="ph2-ns w-50-ns bg-grey-2">
        <p class="primary tc pa2">Strategy</p>
        <img src="./img/strategy.png" alt="" class="center db mb3" style="width: 90%">
      </div>
    </div>
  </div>
</div>
